#build artifacts of various types
*.class
*.jar

#Javadoc output
**/docs/

#Windows and Mac image thumbnail stores and directory caches
Thumbs.db
**/.xvpics/
.DS_Store

/.gradle/
/.nb-gradle/
/build/
/ArtOfIllusion/build/
/Filters/build/
/OSSpecific/build/
/Renderers/build/
/Tools/build/
/Translators/build/
/PostInstall/build/
/SPManager/build/